.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 8px 4px 0;
  
  & .input {
    height: 20px;
    padding: 2px 7px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;

    &:hover {
      border-color: $border-color;
    }
    
    &:focus {
      border-color: #1a73e8;
    }
  }

  & .button {
    @include button();
  }
}
